.chat-bottom-bar {
  overflow: hidden;
  padding: 10px;
  position: relative;
  height: 70px;
  max-height: 70px;
}

.chat-bottom-bar .icon-minim {
  padding: 2px 10px;
}

.chat-bottom-bar input {
  height: calc(70px - 30px);
}
