<component name="ArtifactManager">
  <artifact type="war" name="spring_jdk_7_8:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring4WebSocketWithSTOMP.war">
      <element id="artifact" artifact-name="spring_jdk_7_8:war exploded" />
    </root>
  </artifact>
</component>